.title-section {
    @include fontMartel(700, 40px, 50px, $colorTitle);
    margin: 0;
    white-space: pre-line;
    &_section-reviews {
        color: $colorSubtitleWhite;
    }
    &_section-request-text {
        color: $colorSubtitleWhite;
    }
    &_form-request {
        margin: 0 0 40px 0;
    }
}
