.button-modal {
    width: 182px;
    height: 48px;
    border-radius: 37px;
    border: none;
    padding: 0;
    @include openSansButton(700, 14px, 28px);
    background: $colorBcgButton;
    cursor: pointer;
    color: $colorTextButton;
    &_learn {
        width: 155px;
        height: 48px;
    }
    &_aside-header {
        border: 1px solid $colorTextButton;
        @include hoverButtonModal($colorTextButtonHover, $colorBcgButtonHover);
        grid-row: 3;
        grid-column: 1;
    }
    &_learn_aside-header {
        background: $colorBcgButton;
        margin: 0 0 0 200px;
        border: 1px solid $colorTextButton;
        @include hoverButtonModal($colorTextButtonHover, $colorBcgButtonHover);
        grid-row: 3;
        grid-column: 1;
    }
    &_section-matters__buttons {
        color: $colorTextButton2;
        border: 1px solid $colorTextButton2;
        @include hoverButtonModal($colorTextButtonHover2, $colorBcgButtonHover2);

    }
    &_learn_section-matters__buttons {
        color: $colorTextButton2;
        border: 1px solid $colorTextButton2;
        @include hoverButtonModal($colorTextButtonHover2, $colorBcgButtonHover2);
    }
}
