@import url('../fonts/fonts.scss');
@import '../vendor/normalize.scss';
body {
    margin: 0;
    background: $bcgColorBody;
}
.app {
    max-width: $widthPage;
    margin: 0 auto;
    background: $bcgPage;
    position: relative;
}
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $bcgMatterSvg;
    transform-origin: 0%;
    z-index: 5;
}