@font-face {
    font-family: 'Martel';
    src: url('Martel/Martel-Heavy.eot');
    src: url('Martel/Martel-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Martel/Martel-Heavy.woff2') format('woff2'),
        url('Martel/Martel-Heavy.woff') format('woff'),
        url('Martel/Martel-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martel';
    src: url('Martel/Martel-Bold.eot');
    src: url('Martel/Martel-Bold.eot?#iefix') format('embedded-opentype'),
        url('Martel/Martel-Bold.woff2') format('woff2'),
        url('Martel/Martel-Bold.woff') format('woff'),
        url('Martel/Martel-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Martel';
    src: url('Martel/Martel-DemiBold.eot');
    src: url('Martel/Martel-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('Martel/Martel-DemiBold.woff2') format('woff2'),
        url('Martel/Martel-DemiBold.woff') format('woff'),
        url('Martel/Martel-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Open-Sans/OpenSans-Bold.eot');
    src: url('Open-Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('Open-Sans/OpenSans-Bold.woff2') format('woff2'),
        url('Open-Sans/OpenSans-Bold.woff') format('woff'),
        url('Open-Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Open-Sans/OpenSans-Regular.eot');
    src: url('Open-Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('Open-Sans/OpenSans-Regular.woff2') format('woff2'),
        url('Open-Sans/OpenSans-Regular.woff') format('woff'),
        url('Open-Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Open-Sans/OpenSans-SemiBold.eot');
    src: url('Open-Sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Open-Sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('Open-Sans/OpenSans-SemiBold.woff') format('woff'),
        url('Open-Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-Bold.eot');
    src: url('Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat/Montserrat-Bold.woff') format('woff'),
        url('Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-Regular.eot');
    src: url('Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat/Montserrat-Regular.woff') format('woff'),
        url('Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-SemiBold.eot');
    src: url('Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat/Montserrat-SemiBold.woff') format('woff'),
        url('Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat/Montserrat-Medium.eot');
    src: url('Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('Montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat/Montserrat-Medium.woff') format('woff'),
        url('Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


