.section-matters {
    padding: 100px 0 150px 195px;
    overflow: hidden;
    &__buttons {
        margin: 50px 0 0 0;
        display: flex;
        gap: 10px;
    }
}
.matters-client {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(min-content, 328px));
    padding: 45px 0 0 0;
    &-item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 20px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        background: #fafafa;
        border: 1px solid #e2e2e2;
        height: 112px;
        box-sizing: border-box;
        &__logo {
            width: 72px;
            height: 72px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $bcgMatterSvg;
            border-radius: 50%;
        }
        &__title {
            @include openSans(700, 14px, 24px, $colorSubtitle);
            margin: 0;
        }
    }
}
