.section-reviews {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $bcgSectionBlueReview;
    @media screen and (max-width: 768px) {
        max-height: 1767px;
        padding: 80px 30px;
    }
}
.slides-clients {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 90px 0 0 0;
    @media screen and (max-width: 768px) {
        padding: 60px 0 0 0;
        max-height: 438px;
    }
}
.swiper-slide-item {
    padding: 30px 60px;
    background: $bcgBlock;
    width: 460px !important;
    height: 288px;
    box-sizing: border-box;
    position: relative;
    @media screen and (max-width: 768px) {
        max-width: 325px !important;
        height: 408px !important;
        padding: 10px 54px 30px;
    }
    &__image {
        position: absolute;
        top: 28px;
        left: -79px;
        width: 96px;
        height: 96px;
        @media screen and (max-width: 768px) {
            position: relative;
            left: 0;
            top: 0;
        }
    }
    &__title {
        @include fontMartel(700, 24px, 32px, $colorTitle);
        margin: 0;
    }
    &__subtitle {
        @include openSans(700, 14px, 24px, $colorSubtitle);
        margin: 0;
    }
    &__text {
        @include openSans(400, 14px, 20px, $colorSubtitle);
        margin: 15px 0 0 0;
    }
}
