.section-attorneys {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $bcgSection;
    @media screen and (max-width: 768px) {
        padding: 75px 42px 63px;
    }
}
.attorneys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 50px 0 0 0;
    list-style-type: none;
    gap: 35px;
    &-item {
        padding: 30px 46px;
        box-sizing: border-box;
        background: $bcgBlock;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 230px;
        @media screen and (max-width: 768px) {
            max-width: 331px;
            min-width: 300px;
            padding: 30px 90px;
        }
        &__image {
            width: 128px;
            height: 128px;
        }
        &__position {
            @include openSans(700, 14px, 24px, $colorTextYellow);
            margin: 5px 0 0 0;
        }
        &__name {
            @include fontMartel(700, 16px, 24px, $colorTitle);
            margin: 5px 0 0 0;
            letter-spacing: 0.1px;
        }
        &__subtitle {
            @include openSans(400, 14px, 20px, $colorSubtitle);
            margin: 5px 0 0 0;
            text-align: center;
        }
    }
}