.subtitle-section {
    @include openSans(400, 14px, 20px, $colorSubtitle);
    margin: 0;
    white-space: pre-line;
    &_section-matters {
        margin: 10px 0 0 0;
    }
    &_section-about {
        margin: 15px 0 0 0;
        text-align: center;
    }
    &_section-about-text {
        margin: 10px 0 0 0;
    }
    &_section-reviews {
        text-align: center;
        margin: 10px 0 0 0;
        color: $colorSubtitleWhite;
    }
}
