$bcgColorBody: #EDEDED;
$bcgPage: #FFFFFF;
$widthPage: 1440px;
$colorLinkMenu: #737373;
$colorLinkMenuHover: #bb5d5d;
$colorTitle: #252B42;
$colorSubtitle: #737373;
$colorTextButton: #784F33;
$colorBcgButton: transparent;
$colorTextButtonHover: #FFFFFF;
$colorBcgButtonHover: #784F33;
$bacgMatterSvg: #295C7A;
$colorTextButton: #295C7A;
$colorTextButtonHover: #FFFFFF;
$colorBcgButtonHover: #295C7A;;