$bcgColorBody: #EDEDED;
$bcgPage: #FFFFFF;
$widthPage: 1440px;
$colorLinkMenu: #737373;
$colorLinkMenuHover: #bb5d5d;
$colorTitle: #252B42;
$colorSubtitle: #737373;
$colorTextButton: #784F33;
$colorBcgButton: transparent;
$colorTextButtonHover: #FFFFFF;
$colorBcgButtonHover: #784F33;
$bcgMatterSvg: #295C7A;
$bcgMatterSvgHover: #85b8d5;
$fillSvgHover: #2fc7ae;
$colorTextButton2: #295C7A;
$colorTextButtonHover2: #FFFFFF;
$colorBcgButtonHover2: #295C7A;
$bcgSection: #FAFAFA;